.venv/
.env
**/*.pyc
__pycache__/
.vscode/
.idea/
node_modules/
dist/
build/
.DS_Store   
.env.local
.env.*.local
coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
.vscode-scm/
*.sqlite
*.sqlite3
*.db
*.db-journal
*.iml
out/
*.class
*.jar
*.war
*.ear
target/
*.swp
*~
.project
.classpath
.c9/
.settings/